<template>
    <v-row>
        <v-col cols="6">
            <div class="d-flex justify-space-between mb-4">
                <h2>Requests</h2>
                <v-btn color="secondary" :href="shareStateUrl" class="text-right">Share state</v-btn>
            </div>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Token Management</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-text-field label="Authentication token" v-model="authenticationToken"></v-text-field>
                        <v-text-field label="Access token" v-model="accessToken"></v-text-field>
                        <v-text-field label="Device token" v-model="deviceToken"></v-text-field>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
            <Requests></Requests>
        </v-col>
        <v-col cols="6">
            <div class="d-flex justify-space-between mb-4">
                <h2>Request Output</h2>
                <v-btn color="error" @click="clearResponses" class="text-right">Clear all</v-btn>
            </div>
            <v-expansion-panels :class="{ 'output-panel': !panel }" v-model="panel">
                <v-expansion-panel
                    v-for="data in $store.state.api_responses.slice().reverse()"
                    :key="data.response.headers.date"
                    @click="scrollPanel"
                >
                    <v-expansion-panel-header>
                        {{ data.caller }} &nbsp;
                        <b
                            :class="data.response.status < 300 ? 'green--text' : 'red--text'"
                        >{{ data.response.status }} {{ data.response.statusText }}</b>
                        {{ data.response.headers.date | humanize }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <Response :data="data"></Response>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
</template>
<script>
import Requests from "@/components/requests/Requests.vue";
import Response from "@/components/Response.vue";
import moment from "moment";

export default {
    components: {
        Requests,
        Response
    },
    data() {
        return {
            panel: null
        };
    },
    methods: {
        scrollPanel(event) {
            setTimeout(() => {
                if (this.panel)
                    this.$vuetify.goTo(event.target, {
                        offset: 8,
                        duration: 100
                    });
            }, 50);
        },
        clearResponses() {
            this.$store.dispatch("clearResponses");
        },
        checkForQueryParams() {
            const params = this.$route.query;

            if (params.authentication_token)
                this.$store.dispatch(
                    "setAuthenticationsToken",
                    params.authentication_token
                );
            if (params.access_token)
                this.$store.dispatch("setAccessToken", params.access_token);
            if (params.device_token)
                this.$store.dispatch("setDeviceToken", params.device_token);

            window.history.replaceState({}, null, window.location.pathname);
        }
    },
    created() {
        this.checkForQueryParams();
    },
    computed: {
        shareStateUrl() {
            const tokens = this.$store.state.tokens;
            const url = `${location.protocol}//${location.host}${location.pathname}?authentication_token=${tokens.authentication_token}&access_token=${tokens.access_token}&device_token=${tokens.device_token}`;

            return url;
        },
        authenticationToken: {
            get() {
                return this.$store.state.tokens.authentication_token;
            },
            set(value) {
                this.$store.dispatch("setAuthenticationsToken", value);
            }
        },
        accessToken: {
            get() {
                return this.$store.state.tokens.access_token;
            },
            set(value) {
                this.$store.dispatch("setAccessToken", value);
            }
        },
        deviceToken: {
            get() {
                return this.$store.state.tokens.device_token;
            },
            set(value) {
                this.$store.dispatch("setDeviceToken", value);
            }
        }
    },
    filters: {
        humanize: function(time) {
            return moment(time).fromNow();
        }
    }
};
</script>
<style>
.output-panel {
    position: sticky;
    top: 6rem;
}
</style>