<template>
    <div>
        <v-row>
            <v-col cols="6" md="3">
                <v-text-field label="zoneId" v-model="zoneId" @change="refreshVehicles()"></v-text-field>
            </v-col>
            <v-col cols="6" md="3">
                <v-btn color="secondary" :href="shareStateUrl" class="ma-2">Share state</v-btn>
                <v-btn color="secondary" @click="refreshAll" class="ma-2">Refresh All</v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" md="3" v-for="user in clientUsers" :key="user.email">
                <Client :user="user"></Client>
            </v-col>
            <v-col cols="12" md="3">
                <ClientAdd></ClientAdd>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import Client from "@/components/Client";
import ClientAdd from "@/components/ClientAdd";

export default {
    components: {
        Client,
        ClientAdd
    },
    data() {
        return {
            zoneId: 171
        };
    },
    created() {
        this.checkForQueryParams();
        this.refreshVehicles();
    },
    methods: {
        async refreshVehicles() {
            await this.$store.dispatch("refreshClientVehicles", this.zoneId);
        },
        checkForQueryParams() {
            const params = this.$route.query;

            if (!params.client_export)
                return

            const users = JSON.parse(atob(params.client_export))
            users.map(user => this.$store.dispatch("addClientUser", user))

            window.history.replaceState( {} , null, window.location.pathname );
        },
        refreshAll() {
            this.$store.dispatch("refreshAllClientUser", this.zoneId);
        }
    },
    computed: {
        clientUsers() {
            return this.$store.state.client.users;
        },
        shareStateUrl() {
            const state = this.$store.state.client.users.map(x =>
                (({ email, authentication_token, device_token }) => ({
                    email,
                    authentication_token,
                    device_token
                }))(x)
            );
            const encoded = btoa(unescape(encodeURIComponent(JSON.stringify(state))));
            const url = `${location.protocol}//${location.host}${location.pathname}?client_export=${encoded}`;

            return url;
        }
    }
};
</script>

<style>
</style>