<!-- eslint-disable vue/no-use-v-if-with-v-for,vue/no-confusing-v-for-v-if -->
<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" sm="4">
                <v-radio-group v-model="formStatus" @change="fetchVehicles()" class="ma-0 pa-0">
                    <v-radio :value="'ready'" :label="'Ready'"></v-radio>
                    <v-radio :value="'riding'" :label="'Riding'"></v-radio>
                    <v-radio :value="'sleep'" :label="'Sleeping'"></v-radio>
                    <v-radio :value="'bounty'" :label="'Bounty'"></v-radio>
                    <v-radio :value="'home'" :label="'Home'"></v-radio>
                    <v-radio :value="'collected'" :label="'Collected'"></v-radio>
                    <v-radio :value="'lost'" :label="'Lost'"></v-radio>
                </v-radio-group>
            </v-col>
            <v-col cols="12" sm="4">
                <v-text-field
                    label="Zone"
                    placeholder="171"
                    outlined
                    v-model="formZone"
                    type="number"
                    @change="fetchVehicles()"
                ></v-text-field>
                <v-switch
                    v-model="forceFresh"
                    class="ma-0"
                    color="red darken-3"
                    label="Force disable cache"
                ></v-switch>
            </v-col>
            <v-col cols="12" sm="4">
                <v-btn @click="fetchVehicles()">Refresh</v-btn>
            </v-col>
        </v-row>

        <v-progress-linear
            :style="{visibility: loading ? 'visible' : 'hidden'}"
            indeterminate
            color="teal"
        ></v-progress-linear>
        <GmapMap
            :center="userPosition"
            :zoom="14"
            map-type-id="terrain"
            style="height: 500px"
            :options="mapStyle"
        >
            <GmapInfoWindow
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
            ></GmapInfoWindow>
            <GmapCluster
                v-if="clustering"
                :clickable="true"
                :zoom-on-click="true"
                :animation="2"
                :maxZoom="16"
                :styles="clusterStyles"
                :minimumClusterSize="4"
            >
                <GmapMarker
                    v-for="m in vehicles"
                    :key="m.id"
                    :position="m.position"
                    :clickable="true"
                    :icon="require('../assets/scooter_annotation_sm.png')"
                    @click="toggleInfoWindow(m,m.id)"
                />
            </GmapCluster>
            <template v-if="!clustering">
                <GmapMarker
                    v-for="m in vehicles"
                    :key="m.id"
                    :position="m.position"
                    :clickable="true"
                    :icon="require('../assets/scooter_annotation_sm.png')"
                    @click="toggleInfoWindow(m,m.id)"
                />
            </template>

            <GmapMarker
                :icon="require('../assets/current_location_marker_sm.png')"
                :position="userPosition"
            />
        </GmapMap>
    </v-container>
</template>

<script>
import axios from "../plugins/axios";
import mapStyleData from "@/assets/styles/mapStyle";
import mapStyleLightData from "@/assets/styles/mapStyleLight";
import clusterStyleData from "@/assets/styles/clusterStyle";

export default {
    name: "VehicleMap",
    data() {
        return {
            intervals: [],
            formStatus: "ready",
            forceFresh: false,
            formZone: 171,
            clustering: true,
            rawVehicles: [],
            userPosition: { lat: 59.6248714, lng: 16.5569127 },
            center: { lat: 59.6248714, lng: 16.5569127, initial: true },
            getMap: this.$root.mapping,
            infoWindowPos: null,
            infoWinOpen: false,
            currentMidx: null,
            loading: true,
            infoOptions: {
                content: "",
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            },
            clusterStyles: clusterStyleData
        };
    },
    created() {
        this.fetchVehicles();
        
        this.loadLocation();
        this.intervals = [setInterval(this.loadLocation, 1000)];
    },
    beforeDestroy() {
        this.intervals.map(i => clearInterval(i));
    },
    methods: {
        async fetchVehicles() {
            this.loading = true;
            const headers = this.forceFresh
                ? { "x-apicache-bypass": true, "cache-control": "no-cache" }
                : {};

            try {
                const response = await axios.get(
                    `/api/${this.formZone}/vehicles/${this.formStatus}`,
                    { headers }
                );
                this.rawVehicles = response.data;
            } catch (e) {
                this.loading = false;
            }

            this.loading = false;
        },
        toggleInfoWindow: function(marker, idx) {
            this.infoWindowPos = marker.position;
            this.infoOptions.content = marker.infoText;

            if (this.currentMidx == idx) {
                this.infoWinOpen = !this.infoWinOpen;
            } else {
                this.infoWinOpen = true;
                this.currentMidx = idx;
            }
        },
        loadLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    let pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    if (this.center.initial) this.center = pos;

                    this.userPosition = pos;
                });
            }
        }
    },
    computed: {
        vehicles() {
            return this.rawVehicles.map(v => {
                v.position = { lat: v.location[0], lng: v.location[1] };
                v.infoText = `
                <b>${v.short}</b><br>
                Battery: ${v.battery}%<br>
                Status: ${v.status}<br>
                Type: ${v.type}<br>
                Locked: ${v.locked}<br>
                Bounty: ${v.bounty}<br>

                <a
                    href="https://www.google.com/maps/dir/?api=1&destination=${v.position.lat},${v.position.lng}"
                    rel="noopener"
                    target="_blank">
                        Directions
                </a>
                `;
                return v;
            });
        },
        mapStyle() {
            return this.$vuetify.theme.dark ? mapStyleData : mapStyleLightData;
        }
    }
};
</script>

<style lang="css">
</style>