<template>
    <v-container fluid>
        <v-text-field
            label="Zone"
            placeholder="171"
            outlined
            v-model="formZone"
            type="number"
            @change="fetchVehicles()"
        ></v-text-field>
        <v-progress-linear
            :style="{visibility: loading ? 'visible' : 'hidden'}"
            indeterminate
            color="teal"
        ></v-progress-linear>
        <GmapMap
            :center="userPosition"
            :zoom="14"
            map-type-id="terrain"
            style="height: 500px"
            :options="mapStyle"
        >
            <template v-if="Object.keys(historyVehicles).length > 1">
                <gmap-polyline
                    :key="`line-${id}`"
                    v-for="(path, id) in historyVehicles"
                    :path="path"
                    :options="{strokeColor:colorHash.hex(id), strokeWeight: 6}"
                ></gmap-polyline>
            </template>

            <GmapInfoWindow
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
            ></GmapInfoWindow>
            <GmapMarker
                v-for="m in vehicles"
                :key="m.id"
                :position="m.position"
                :clickable="true"
                :icon="'//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + m.hex"
                @click="toggleInfoWindow(m,m.id)"
            />

            <GmapMarker
                :icon="require('../assets/current_location_marker_sm.png')"
                :position="userPosition"
            />
        </GmapMap>
    </v-container>
</template>

<script>
import ColorHash from "color-hash";
import axios from "../plugins/axios";
import mapStyleData from "@/assets/styles/mapStyle";
import mapStyleLightData from "@/assets/styles/mapStyleLight";

export default {
    name: "VehicleMap",
    data() {
        return {
            intervals: [],
            formZone: 171,
            loading: true,
            colorHash: null,
            rawVehicles: [],
            historyVehicles: {},
            userPosition: { lat: 59.6248714, lng: 16.5569127 },
            center: { lat: 59.6248714, lng: 16.5569127, initial: true },
            getMap: this.$root.mapping,
            infoWindowPos: null,
            infoWinOpen: false,
            currentMidx: null,
            infoOptions: {
                content: "",
                pixelOffset: {
                    width: 0,
                    height: -35
                }
            }
        };
    },
    created() {
        this.colorHash = new ColorHash();
        
        this.fetchVehicles();
        this.loadLocation();
        this.intervals = [
            setInterval(async () => {
                await this.fetchVehicles();
            }, 5000),
            setInterval(this.loadLocation, 1000)
        ];
    },
    beforeDestroy() {
        this.intervals.map(i => clearInterval(i));
    },
    methods: {
        async fetchVehicles() {
            this.loading = true;
            const { data } = await axios.get(
                `/api/${this.formZone}/vehicles/riding`
            );
            this.rawVehicles = data;
            this.loading = false;

            data.forEach(v => {
                if (!this.historyVehicles.hasOwnProperty(v.id))
                    this.$set(this.historyVehicles, v.id, []);

                this.historyVehicles[v.id].push({
                    lat: v.location[0],
                    lng: v.location[1]
                });
            });
        },
        toggleInfoWindow: function(marker, idx) {
            this.infoWindowPos = marker.position;
            this.infoOptions.content = marker.infoText;

            if (this.currentMidx == idx) {
                this.infoWinOpen = !this.infoWinOpen;
            } else {
                this.infoWinOpen = true;
                this.currentMidx = idx;
            }
        },
        loadLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    let pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    if (this.center.initial) this.center = pos;

                    this.userPosition = pos;
                });
            }
        }
    },
    computed: {
        vehicles() {
            return this.rawVehicles.map(v => {
                v.hex = this.colorHash.hex(v.id).replace("#", "");
                v.position = { lat: v.location[0], lng: v.location[1] };
                v.infoText = `
                <b>${v.short}</b><br>
                Battery: ${v.battery}%<br>
                Status: ${v.status}<br>
                Type: ${v.type}<br>
                Locked: ${v.locked}<br>
                Bounty: ${v.bounty}<br>
                <a href="https://www.google.com/maps/dir/?api=1&destination=${v.position.lat},${v.position.lng}"
                    rel="noopener" target="_blank">Directions
                </a>
                `;
                return v;
            });
        },
        mapStyle() {
            return this.$vuetify.theme.dark ? mapStyleData : mapStyleLightData;
        }
    }
};
</script>

<style lang="css">
</style>