<template>
    <div>
        <h1>Vehicle list - ready vehicles in Vasteras</h1>
        <br>
        <v-row no-gutters>
            <v-col :lg=4 :md=6 :sm=12 >
                <v-expansion-panels>
                    <v-expansion-panel v-for="vehicle in vehicles" :key="vehicle.id">
                        <v-expansion-panel-header>{{ vehicle.id }}</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-list dense>
                                <v-list-item v-for="(value, name) in vehicle" :key="name">
                                    <v-list-item-content>{{ name }}</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ value }}</v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import axios from "../plugins/axios";

export default {
    data() {
        return {
            vehicles: []
        };
    },
    created() {
        this.fetchVehicles();
    },
    methods: {
        async fetchVehicles() {
            const { data } = await axios.get("/api/171/vehicles/ready");
            this.vehicles = data;
        }
    }
};
</script>
