<template>
    <div>
        <h1>Zone list</h1>
        <br>
        <v-row no-gutters>
            <v-col :lg=4 :md=6 :sm=12 >
                <v-expansion-panels>
                    <v-expansion-panel v-for="zone in zones" :key="zone.zone_id">
                        <v-expansion-panel-header>{{ zone.name }} ({{ zone.zone_id }})</v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <v-list dense>
                                <v-list-item v-for="(value, name) in zone" :key="name">
                                    <v-list-item-content>{{ name }}</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ value }}</v-list-item-content>
                                </v-list-item>
                            </v-list>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import axios from "../plugins/axios";

export default {
    data() {
        return {
            zones: []
        };
    },
    created() {
        this.fetchZones();
    },
    methods: {
        async fetchZones() {
            const { data } = await axios.get("/api/zones");
            this.zones = data;
        }
    }
};
</script>
