<template>
    <div>
        <h3>Auth Session request</h3>
        <v-text-field label="authenticationToken" v-model="authenticationToken"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "AuthSession",
    data() {
        return {
            authenticationToken: this.$store.state.tokens.authentication_token
        };
    },
    methods: {
        async request() {
            const response = await voiApi.post("auth/session", {
                authenticationToken: this.authenticationToken
            });

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>