<template>
    <div>
        <h3>PSP Payments Pending request</h3>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "PaymentsPending",
    methods: {
        async request() {
            const response = await voiApi.post("psp/payments/pending");

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>