<template>
    <div>
        <AuthSession class="mt-4"></AuthSession>
        <v-divider class="mt-4"></v-divider>
        <PaymentsDefault class="mt-4"></PaymentsDefault>
        <v-divider class="mt-4"></v-divider>
        <PaymentsPending class="mt-4"></PaymentsPending>
        <v-divider class="mt-4"></v-divider>
        <PaymentsPreauthorize class="mt-4"></PaymentsPreauthorize>
        <v-divider class="mt-4"></v-divider>
        <RidesCurrent class="mt-4"></RidesCurrent>
        <v-divider class="mt-4"></v-divider>
        <RidesEndSession class="mt-4"></RidesEndSession>
        <v-divider class="mt-4"></v-divider>
        <RidesLock class="mt-4"></RidesLock>
        <v-divider class="mt-4"></v-divider>
        <RidesPrecheck class="mt-4"></RidesPrecheck>
        <v-divider class="mt-4"></v-divider>
        <RidesStart class="mt-4"></RidesStart>
        <v-divider class="mt-4"></v-divider>
        <RidesUnlock class="mt-4"></RidesUnlock>
        <v-divider class="mt-4"></v-divider>
        <RiskMeasuresDeposit class="mt-4"></RiskMeasuresDeposit>
        <v-divider class="mt-4"></v-divider>
        <SSOSend class="mt-4"></SSOSend>
        <v-divider class="mt-4"></v-divider>
        <SSOSignup class="mt-4"></SSOSignup>
        <v-divider class="mt-4"></v-divider>
        <User class="mt-4"></User>
        <v-divider class="mt-4"></v-divider>
        <UsersWallet class="mt-4"></UsersWallet>
        <v-divider class="mt-4"></v-divider>
        <VehicleInfo class="mt-4"></VehicleInfo>
    </div>
</template>

<script>
import AuthSession from "./AuthSession.vue";
import PaymentsDefault from "./PaymentsDefault.vue";
import PaymentsPending from "./PaymentsPending.vue";
import PaymentsPreauthorize from "./PaymentsPreauthorize.vue";
import RidesCurrent from "./RidesCurrent.vue";
import RidesEndSession from "./RidesEndSession.vue";
import RidesLock from "./RidesLock.vue";
import RidesPrecheck from "./RidesPrecheck.vue";
import RidesStart from "./RidesStart.vue";
import RidesUnlock from "./RidesUnlock.vue";
import RiskMeasuresDeposit from "./RiskMeasuresDeposit.vue";
import SSOSend from "./SSOSend.vue";
import SSOSignup from "./SSOSignup.vue";
import User from "./User.vue";
import UsersWallet from "./UsersWallet.vue";
import VehicleInfo from "./VehicleInfo.vue";

export default {
    name: "Requests",
    components: {
        AuthSession,
        PaymentsDefault,
        PaymentsPending,
        PaymentsPreauthorize,
        RidesCurrent,
        RidesEndSession,
        RidesLock,
        RidesPrecheck,
        RidesStart,
        RidesUnlock,
        RiskMeasuresDeposit,
        SSOSend,
        SSOSignup,
        User,
        UsersWallet,
        VehicleInfo
    }
};
</script>

<style>
</style>