<template>
    <div>
        <h3>Rides End Session request</h3>
        <v-text-field label="lat" v-model="lat"></v-text-field>
        <v-text-field label="lng" v-model="lng"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "RidesEndSession",
    data() {
        return {
            lat: 59.62424345709307,
            lng: 16.55657719820738
        };
    },
    methods: {
        async request() {
            const response = await voiApi.post("rides/end_session", {
                location: {
                    lat: parseFloat(this.lat),
                    lng: parseFloat(this.lng)
                }
            });

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response: response
            });
        }
    }
};
</script>

<style>
</style>