<template>
    <div>
        <h3>Rides Precheck request</h3>
        <v-text-field label="vehicleCode" v-model="vehicleCode" placeholder="URL Parameter"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "RidesPrecheck",
    data() {
        return {
            vehicleCode: ""
        };
    },
    methods: {
        async request() {
            const response = await voiApi.get(
                `rides/precheck/${this.vehicleCode}`
            );

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>