<template>
    <div>
        <h3>Rides Start request</h3>
        <v-text-field label="vehicleId" v-model="vehicleId" placeholder="URL Parameter"></v-text-field>
        <v-text-field label="device_token" v-model="deviceToken"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "RidesStart",
    data() {
        return {
            vehicleId: "",
            deviceToken: this.$store.state.tokens.device_token
        };
    },
    methods: {
        async request() {
            const response = await voiApi.post(
                `rides/start/${this.vehicleId}`,
                {
                    device_token: this.deviceToken
                }
            );

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>