<template>
    <div>
        <h3>Risk Measures Deposit request</h3>
        <v-text-field label="zoneId" v-model="zoneId" placeholder="URL Parameter"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "RiskMeasuresDeposit",
    data() {
        return {
            zoneId: 171
        };
    },
    methods: {
        async request() {
            const response = await voiApi.get(
                `risk/measures/deposit?zone_id=${this.zoneId}`
            );

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>