<template>
    <div>
        <h3>SSO Signup request</h3>
        <v-text-field label="email" v-model="email"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "SSOSignup",
    data() {
        return {
            email: ""
        };
    },
    methods: {
        async request() {
            const response = await voiApi.post("auth/sso/signup", {
                email: this.email
            });

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>