<template>
    <div>
        <h3>Vehicle Info request</h3>
        <v-text-field label="vehicleId" v-model="vehicleId"></v-text-field>
        <div class="text-right mt-2">
            <v-btn color="primary" @click="request" class="text-right">Send</v-btn>
        </div>
    </div>
</template>

<script>
import voiApi from "@/voi-request";

export default {
    name: "VehicleInfo",
    data() {
        return {
            vehicleId: ""
        };
    },
    methods: {
        async request() {
            const response = await voiApi.get(
                `vehicle/info/${this.vehicleId}`
            );

            this.$store.dispatch("addResponse", {
                caller: this.$options.name,
                response
            });
        }
    }
};
</script>

<style>
</style>