<template>
    <v-card>
        <v-card-title>
            {{ user.email }}
            <div class="ml-auto">
                <v-progress-circular v-if="loading" indeterminate color="primary"></v-progress-circular>
                <v-btn v-else icon @click="request(refreshState)">
                    <v-icon>{{ 'mdi-refresh' }}</v-icon>
                </v-btn>
                <v-btn icon @click="show = !show" v-if="!$vuetify.breakpoint.smAndUp">
                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                </v-btn>
            </div>
        </v-card-title>

        <v-card-subtitle>
            <b>{{ user.credits ? user.credits : '?' }} credits</b>
            <br />
            {{ user.currentRide ? `Riding vehicle ${user.currentRide.vehicleShort}` : 'Not riding' }}
            <br />
            Payment method: {{ user.payment_method || 'None' }}
        </v-card-subtitle>

        <v-alert type="error" outlined dense class="mx-2" v-if="latestOutput">{{ latestOutput }}</v-alert>

        <v-expand-transition>
            <div v-show="show || $vuetify.breakpoint.smAndUp">
                <v-divider></v-divider>
                <v-card-text class="pb-0" v-if="canRide">
                    <v-autocomplete
                        v-model="vehicleCode"
                        label="Vehicle"
                        :items="autoCompleteValues"
                        item-text="text"
                        item-value="value"
                        clearable
                        style="width: 8rem"
                    ></v-autocomplete>
                </v-card-text>

                <v-card-actions d-inline>
                    <v-btn :disabled="cannotRide || loading" text @click="request(startRide)">Start</v-btn>
                    <v-btn :disabled="canRide || loading" text @click="request(endRide)">End</v-btn>
                    <v-btn :disabled="canRide || loading" text @click="request(lockRide)">Lock</v-btn>
                    <v-btn :disabled="canRide || loading" text @click="request(unlockRide)">Unlock</v-btn>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </div>
        </v-expand-transition>
    </v-card>
</template>

<script>
import voiApi from "@/voi-api";

export default {
    props: ["user"],
    data() {
        return {
            show: false,
            loading: false,
            vehicleCode: "",
            latestOutput: ""
        };
    },
    computed: {
        canRide() {
            return !this.user.currentRide;
        },
        cannotRide() {
            return !!this.user.currentRide;
        },
        autoCompleteValues() {
            return this.$store.state.client.vehicles.map(vehicle => ({
                text: `${vehicle.short} - ${vehicle.battery}%`,
                value: vehicle.short
            }));
        }
    },
    methods: {
        async request(req) {
            this.loading = true;
            try {
                await req();
                if (req !== this.refreshState) await this.refreshState();
            } catch (error) {
                this.latestOutput = error;
            }
            this.loading = false;
        },
        async refreshState() {
            this.loading = true;
            await this.$store.dispatch("refreshClientUser", this.user);
            this.loading = false;
        },
        async startRide() {
            await voiApi.request(
                this.user.authentication_token,
                voiApi.startRide,
                { vehicleCode: this.vehicleCode }
            );
        },
        async lockRide() {
            await voiApi.request(
                this.user.authentication_token,
                voiApi.lockRide
            );
        },
        async unlockRide() {
            await voiApi.request(
                this.user.authentication_token,
                voiApi.unlockRide
            );
        },
        async endRide() {
            await voiApi.request(
                this.user.authentication_token,
                voiApi.endRide
            );
        }
    }
};
</script>

<style>
</style>