<template>
    <v-card>
        <v-overlay absolute :value="!formOpened" :opacity="1" :color="overlayColor">
            <v-icon size="80" style="margin: 6rem auto" @click="formOpened = true">mdi-plus-box</v-icon>
        </v-overlay>

        <v-card-title>
            Add User
            <div class="ml-auto">
                <v-btn icon @click="formOpened = false">
                    <v-icon>{{ 'mdi-close-circle-outline ' }}</v-icon>
                </v-btn>
            </div>
        </v-card-title>

        <v-card-text class="pb-0">
            <v-text-field label="E-mail" v-model="email"></v-text-field>
            <v-text-field label="Authentication token" v-model="authenticationToken"></v-text-field>
            <v-text-field label="Device token" v-model="deviceToken"></v-text-field>
        </v-card-text>

        <v-card-actions d-inline>
            <v-btn text @click="addUser">Add</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            formOpened: false,
            email: "",
            authenticationToken: "",
            deviceToken: ""
        };
    },
    methods: {
        addUser() {
            this.$store.dispatch("addClientUser", {
                email: this.email,
                token: this.authenticationToken,
                device_token: this.deviceToken
            });
        }
    },
    computed: {
        overlayColor() {
            return this.$vuetify.theme.dark ? 'rgba(30, 30, 30, 1)' : 'rgba(220, 220, 220, 1)'
        }
    }
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
</style>