<template>
  <div>
      <json-viewer :value="data.response" copyable :expand-depth=2></json-viewer>
  </div>
</template>

<script>
import JsonViewer from 'vue-json-viewer'

export default {
    components: {
        JsonViewer
    },
    props: ['data']
}
</script>

<style>

</style>